@import url("https://fonts.googleapis.com/css2?family=Anton&family=Press+Start+2P&display=swap");

body {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}

#brand {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	padding: 10px 10px;
	overflow: hidden;
	/* height: 5vw;
	min-height: 45px;
	max-height: 90px !important; */
}

#img-logo {
	width: 5vw;
	height: 5vw;
	object-fit: contain;
	min-width: 45px;
	min-height: 45px;
	max-width: 80px;
	max-height: 80px;
	margin-bottom: 7px;
}

#brand-name {
	margin: 0;
	padding-left: 10px;
	font-family: "Anton", sans-serif;
	letter-spacing: 0.5px;
	font-size: 3vw;
}

#brand-name span {
	color: goldenrod;
}
