@import url("https://fonts.googleapis.com/css2?family=Anton&family=Press+Start+2P&display=swap");

body {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
}

#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	padding: 10px;
}

#brand {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	overflow: hidden;
	flex-shrink: 0;
	flex-grow: 0;
}

#img-logo {
	width: 30px;
	height: 30px;
	object-fit: contain;
	margin-bottom: 5px;
}

#brand-name {
	margin: 0;
	padding-left: 10px;
	font-family: "Anton", sans-serif;
	letter-spacing: 0.5px;
	font-size: 20px;
}

#brand-name span {
	color: goldenrod;
}

#navbar-nav {
	display: none;
}

#toggle-button {
	font-size: 26px;
	margin: 0;
	flex-grow: 0;
	flex-shrink: 0;
}
