body {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0;
}

#img-logo {
	width: 5vw;
	height: 5vw;
	object-fit: contain;
	min-width: 45px;
	min-height: 45px;
	max-width: 80px;
	max-height: 80px;
}
